{%- set finalPath = "result/entity" -%}
{%- set fileName = tableInfo.name|pascalCase + ".java" -%}
{{- this | saveFile(finalPath,fileName) -}}


public class {{ tableInfo.name2PC }} {
{% for v in tableInfo.fullColumns %}
    private {{ v.shortType }} {{ v.name2CC }};
{% endfor %}

 
}