{%- set finalPath = "result/entity" -%}
{%- set fileName = tableInfo.name|CamelCase + ".java" -%}
{{- this | saveFile(finalPath,fileName) -}}


public class {{ tableInfo.name | CamelCase }} {
{% for v in tableInfo.fullColumn %}
    private {{ v.shortType }} {{ v.name | camelCase }};
{% endfor %}

 
}